body {
	font-family: Calibri, Candara, Arial, sans-serif;
	color: #000;
}

h1 {
	color: #22265D;
}

ul ul {
  list-style-type: none;
}


.body-container {
	height: 576px;
	max-width: 1024px;
	margin: 0 auto;
	background-color: #f2f2f2;
	background-image: url("imgs/SVIN-bg.png");
	background-repeat: repeat;
	box-shadow: 0 1px 12px #888;
	display: flex;
  	flex-flow: column wrap;
}


/*-----------------------------------------------------------*/
/*------------------------- Header --------------------------*/
/*-----------------------------------------------------------*/

header {
	height: 80px;
	display: flex;
	justify-content: space-between;
	background-image: url("imgs/SVIN-header.svg");
	background-repeat: no-repeat;
}

.logo {
	margin: 0;
	padding: 6px 0 3px 6px;
}

/* causes right side of header graphic to move with window -- see img element in header */
.header-right-overlay {	margin: 0 0 0 auto; }

.header-title {
	width: 100%;
	padding-left: 60px;
	color: #2E3477;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transform: translate(0px, 0px);
}

.header-title-text {
	font-weight: 600;
}

.header-title-page-number {
	font-weight: 600;
	font-size: 14px;
}

/*-----------------------------------------------------------*/
/*-------------------------- Slide --------------------------*/
/*-----------------------------------------------------------*/

.slide-container {
	display: flex;
	flex: 1;
	justify-content: space-around;
	align-items: center;
}

/*-----------------------------------------------------------*/
/*------------------------- Toolbar -------------------------*/
/*-----------------------------------------------------------*/

.toolbar-container { display: flex; }

.toolbar-btn {
	height: 42px;
	border: 1px solid #d3dedc;
	padding: 0;
	background-color: #fff;
	flex: 1;
	font-family: inherit;
}

.toolbar-btn h2 {
	font-size: 18px;
	color: #21265d;
	margin: 0;
}

.toolbar-btn:hover {
	cursor: pointer;
}

.toolbar-btn:focus { outline: none; }

.toolbar-btn:hover {
	background-color: #d3dedc;
}

.toolbar-icon-left {
	height: 20px;
	padding-right: 10px;
}

.toolbar-icon-right {
	height: 20px;
	padding-left: 10px;
}

.toolbar-btn-text-graphic {
	display: flex;
	justify-content: center;
	align-items: center;
}

#transcript-dialog {
	font-family: Calibri, Candara, Arial, sans-serif;
}

/*-----------------------------------------------------------*/
/*------------------------ Dropup Menu ----------------------*/
/*-----------------------------------------------------------*/

.dropdown {
  position: relative;
}

.dropdown-content {
	max-height: 454px;
  	display: none;
  	position: absolute;
  	background-color: #fff;
  	width: 380px;
	text-align: left;
	font-size: 16px;
	box-shadow: 0 1px 10px #aaa;
	transform: translate(-1px, -1px); /* account for button's border */
	overflow: auto;
}

.dropdown-content a {
	height: 40px;
  	color: #21265d;
  	padding: 10px 16px 6px 16px;
  	text-decoration: none;
  	display: block;
}

.dropdown-content a:hover { background-color: #d3dedc; }

.dropdown-content.show {
  	display: block;
	bottom: 100%;
}

/*-----------------------------------------------------------*/
/*----------------------- Video Slide -----------------------*/
/*-----------------------------------------------------------*/

.inactive-btn, .inactive-btn:hover, .inactive-btn:focus {
	background-color: #cacaca;
	border: 1px solid #bbb;
}

.inactive-btn h2 {
	color: #999;
}

.inactive-btn:hover { cursor: default; }

.video-container iframe {
	width: 800px;
	height: 450px;
}

/*-----------------------------------------------------------*/
/*----------------------- Text Slide ------------------------*/
/*-----------------------------------------------------------*/

.text-only-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding-left: 60px;
}

/*-----------------------------------------------------------*/
/*-------------------- Text/Image Slide ---------------------*/
/*-----------------------------------------------------------*/

.text-container {
	flex: 2 0 1;
}

.text-bullet {
	font-size: 22px;
	padding-bottom: 10px;
	color: #21265D;
}

.img-container {
	flex: 1 0 1;
}

.img-container img {
	width: 400px;
}
