body {
	font-family: Calibri, Candara, Arial, sans-serif;
	color: #000;
}



.body-container {
	height: 576px;
	max-width: 1024px;
	margin: 0 auto;
	background-color: #f2f2f2;
	background-image: url("imgs/SVIN-bg.png");
	background-repeat: repeat;
	box-shadow: 0 1px 12px #888;
	display: flex;  
  	flex-flow: column wrap;
}

/*-----------------------------------------------------------*/
/*------------------------- Header --------------------------*/
/*-----------------------------------------------------------*/

header {
	height: 80px;
	display: flex;
	justify-content: space-between;
	background-image: url("imgs/SVIN-header.svg");
	background-repeat: no-repeat;
}

.logo {
	margin: 0;
	padding: 6px 0 3px 6px;
}

/* causes right side of header graphic to move with window -- see img element in header */
.header-right-overlay {	margin: 0 0 0 auto; }

/*-----------------------------------------------------------*/
/*-------------------------- Slide --------------------------*/
/*-----------------------------------------------------------*/

.slide-container {
	background-color: #661111;
	flex: 1;
}

/*-----------------------------------------------------------*/
/*------------------------- Toolbar -------------------------*/
/*-----------------------------------------------------------*/

.toolbar-container { display: flex; }

.toolbar-btn {
	height: 42px;
	border: 1px solid #d3dedc;
	padding: 0;
	background-color: #fff;
	flex: 1;
	font-family: inherit;
}

.toolbar-btn h2 {
	font-size: 18px;
	color: #21265d;
	margin: 0;
}

.toolbar-btn:hover {
	cursor: pointer;
}

.toolbar-btn:focus { outline: none; }

.toolbar-btn:hover, .toolbar-btn:focus {
	background-color: #d3dedc;
}

#transcript-dialog {
	font-family: Calibri, Candara, Arial, sans-serif;
}

/*-----------------------------------------------------------*/
/*----------------------- Video Slide -----------------------*/
/*-----------------------------------------------------------*/

.inactive-btn, .inactive-btn:hover, .inactive-btn:focus {
	background-color: #cacaca;
	border: 1px solid #bbb;
}

.inactive-btn h2 {
	color: #999;
}

.inactive-btn:hover { cursor: default; }

/*-----------------------------------------------------------*/
/*----------------------- Text Slide ------------------------*/
/*-----------------------------------------------------------*/



/*-----------------------------------------------------------*/
/*-------------------- Text/Image Slide ---------------------*/
/*-----------------------------------------------------------*/