body {
	font-family: Calibri, Candara, Arial, sans-serif;
	color: #000;
}

h2 {
	font-size: 18px;
	color: #21265d;
	margin: 0;
}

.body-container {
	max-width: 1024px;
	margin: 0 auto;
	background-color: #f2f2f2;
	background-image: url("imgs/SVIN-bg.png");
	background-repeat: repeat;
	box-shadow: 0 1px 12px #888;
}

header {
	height: 80px;
	display: flex;
	justify-content: space-between;
	background-image: url("imgs/SVIN-header.svg");
	background-repeat: no-repeat;
}

.logo {
	margin: 0;
	padding: 6px 0 3px 6px;
}

.header-right-overlay {		/* causes right side of header graphic to move with window -- see img element in header */
	margin: 0 0 0 auto;
}

.toolbar {
	display: flex;
}

.toolbar-btn {
	flex: 1;
	font-family: inherit;
}

#transcript-dialog {
}
